.add-to-cart {
  .width;
  padding-top: 34px;
  padding-bottom: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  margin-bottom: 100px;
}

.add-to-cart__title {
  margin: 0 auto;
  padding: 0;
  font-family: @font-title;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 17px;
  width: 150px;
}

.add-to-cart__option {
  margin: 0;
  padding: 0;
  font-family: @font-content;
  font-size: 15px;
  line-height: 30px;
  color: @grey;
  margin-bottom: 22px;
  text-align: center;
}

.add-to-cart__list {
  margin: 0;
  padding: 0;
  min-height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 31px;
}

.add-to-cart__item {
  position: relative;
  width: 82px;

  input {
    display: none;
  }
}

.add-to-cart__item input[type="radio"]:checked + label::before {
  border-color: @color-accent;
}

.add-to-cart__size-button {
  &--1::before {
    content: "S";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 82px;
    height: 52px;
    border: 2px solid #ececec;
    background-color: transparent;
    font-family: @font-title;
    color: @grey;
    font-size: 17px;
    line-height: 46px;
    text-align: center;
    position: absolute;
  }

  &--2::before {
    content: "M";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 82px;
    height: 52px;
    border: 2px solid #ececec;
    background-color: transparent;
    font-family: @font-title;
    color: @grey;
    font-size: 17px;
    line-height: 46px;
    text-align: center;
    position: absolute;
  }

  &--3::before {
    content: "L";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 82px;
    height: 52px;
    border: 2px solid #ececec;
    background-color: transparent;
    font-family: @font-title;
    color: @grey;
    font-size: 17px;
    line-height: 46px;
    text-align: center;
    position: absolute;
  }

  &--1:hover::before,
  &--1:focus::before,
  &--2:hover::before,
  &--2:focus::before,
  &--3:hover::before,
  &--3:focus::before {
    border-color: #c7c7c7;
  }

  &--1:active::before,
  &--2:active::before,
  &--3:active::before {
    border-color: @color-accent;
  }
}

.add-to-cart__button {
  width: 260px;
  background-color: @color-accent;
  border: none;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .add-to-cart {
    width: 567px;
    padding: 38px 109px 46px 109px;
    box-sizing: border-box;
  }

  .add-to-cart__title {
    font-size: 30px;
    line-height: 57px;
    width: 355px;
    margin-bottom: 13px;
  }

  .add-to-cart__list {
    width: 99%;
    margin: 0 auto;
    margin-bottom: 31px;
  }

  .add-to-cart__item input[type="radio"] + label::before,
  .add-to-cart__item {
    width: 112px;
  }

  .add-to-cart__button {
    width: 350px;
    padding: 0;
    margin: 0 auto;
  }
}
