.advantages {
  position: relative;
  font-family: @font-title;
  .width;
  padding-top: 30px;
  padding-bottom: 38px;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.advantages__list {
  font-size: 17px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__text {
  margin: 0;
  padding: 0;
}

.advantages__item {
  margin-top: 83px;
  position: relative;
}

.advantages__image {
  fill: #63d1bb;
  position: absolute;
  top: -48px;
}

@media (min-width: @tablet-width) {
  .advantages {
    .tab-width;
    padding-top: 43px;
    padding-bottom: 85px;
  }

  .advantages__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: -10px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 450px;
  }

  .advantages__text {
    width: 334px;
    box-sizing: border-box;
    padding-right: 34px;
    font-size: 20px;
    line-height: 22px;
  }

  .advantages__item {
    margin-top: 112px;
  }

  .advantages__item--materials {
    order: 1;
  }

  .advantages__item--style {
    order: 3;
  }

  .advantages__item--likes {
    order: 5;
  }

  .advantages__item--handmade {
    order: 2;
  }

  .advantages__item--rus {
    order: 4;
  }

  .advantages__item--package {
    order: 6;
  }

  .advantages__image {
    top: -50px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 700px;
    padding: 60px 275px 80px 275px;
    box-sizing: content-box;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
  }

  .advantages__text {
    font-size: 20px;
    line-height: 22px;
  }

  .advantages__item {
    width: 350px;
  }
}
