.advantages {
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  font-family: "OpenSans-bold", Arial, sans-serif;
  /* &::before {
    content: "";
    width: 320px;
    height: 6px;
    background-image: url("../img/zigzag.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -42px;
  } */
  &__title {
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: 84px;
  }
  &__list {
    font-size: 17px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    margin-bottom: 83px;
    &--materials {

    }
    &--style {

    }
    &--likes {

    }
    &--handmade {

    }
    &--rus {

    }
    &--package {
      margin-bottom: 57px;
    }
  }

}
