.advantages {
  position: relative;
  width: @mobile-content-width;
  margin: 0 auto;
  padding: 0 30px;
  font-family: @font-title;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 84px;
}

.advantages__list {
  font-size: 17px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  margin-bottom: 83px;

  &--package {
    margin-bottom: 57px;
  }
}
