.contacts {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  position: relative;
  }

  &__title {
    display: block;
    font-family: "OpenSans-bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  &__data {
    border-collapse: collapse;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 35px;
  }

  &__parameter {
    width: 75px;
    vertical-align: top;
  }

  &__map {
    max-width: none;
    margin-left: -30px;
    margin-bottom: 39px;
  }

  &__write-us-button {
    margin-bottom: 39px;
    display: flex;
    flex-grow: 1;
  }
}
