.contacts {
  width: @mobile-content-width;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  position: relative;
}

.contacts__title {
  display: block;
  font-family: @font-title;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.contacts__data {
  border-collapse: collapse;
  font-family: @font-content;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 35px;
}

.contacts__parameter {
  width: 75px;
  vertical-align: top;
}

.contacts__map {
  max-width: none;
  margin-left: -30px;
  margin-bottom: 39px;
}

.contacts__write-us-button {
  margin-bottom: 39px;
  display: flex;
  flex-grow: 1;
}
