.input-block {
  display: flex;
  flex-direction: column;
}

.input-block__label {
  font-family: @font-title;
  font-size: 17px;
  line-height: 16px;
  color: @color-accent;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 13px;

  &::before {
    content: "";
    background-color: @color-accent;
    width: 198px;
    height: 1px;
    position: absolute;
    top: 8px;
    left: 62px;
  }
}

.input-block__input {
  border: none;
  font-family: @font-content;
  font-size: 17px;
  line-height: 38px;
  border-bottom: 2px solid #000000;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}

.input-block__textarea {
  border: 2px solid @grey;
  color: @grey;
  font-family: @font-content;
  font-size: 17px;
  line-height: 18px;
  padding: 17px;

  &::placeholder {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .input-block {
    display: flex;
    flex-direction: row;
  }

  .input-block__label {
    margin-top: 10px;
    width: 167px;

    &::before {
      content: none;
    }
  }

  .input-block__input {
    width: 500px;
    margin-left: auto;

    &::placeholder {
      border: none;
      color: @grey;
      background-color: #f1f1f1;
    }
  }

  .input-block__textarea {
    width: 500px;
    padding: 0;
    min-height: 140px;

    &::placeholder {
      padding: 15px;
    }
  }
}

@media (min-width: @desktop-width) {
  .input-block__label {
    padding-left: 60px;
    box-sizing: border-box;
    width: 175px;
  }

  .input-block__input {
    width: 700px;
  }

  .input-block__textarea {
    width: 700px;
    min-height: 140px;
  }
}
