.main-title__wrapper {
  background-color: #f1f1f1;
}

.main-title {
  .width;
  min-height: 177px;
  border-top: 1px solid #f1f1f1;
  padding: 70px 30px 30px 39px;
}

.main-title__content {
  font-family: @font-title;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .main-title {
    .tab-width;
    min-height: 226px;
    padding-top: 93px;
    position: relative;

    &:after {
      content: "";
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      position: absolute;
      bottom: -5px;
      width: 677px;
      height: 14px;
      background-size: cover;
    }
  }

  .main-title__content {
    width: auto;
    text-align: center;
    .tab-title;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-title {
    .desk-width;
    padding: 90px 50px 109px;
    min-height: 43px;

    &::after {
      width: 1050px;
      height: 18px;
    }
  }

  .main-title__content {
    .desk-title;
  }
}
