.order-form {
  padding-top: 21px;
  padding-bottom: 56px;
}

.order-form__text {
  .width;
  font-family: @font-content;
  font-size: 13px;
  line-height: 24px;
  color: @grey;
}

.order-form__fieldset {
  .width;
  border: none;
  padding-top: 23px;

  &--input1 {
    padding-top: 22px;
  }

  &--input2 {
    padding-top: 30px;
  }

  &--textarea {
    padding-top: 32px;
  }
}

.order-form__title {
  font-family: @font-title;
  font-size: 17px;
  line-height: 16px;
  color: @color-accent;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 34px;
  padding: 0;

  &::before {
    content: "";
    background-color: @color-accent;
    width: 198px;
    height: 1px;
    position: absolute;
    top: 8px;
    left: 62px;
  }
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-form__item {
  padding-left: 63px;
  margin-bottom: 22px;
}

.order-form__notice {
  .width;
  font-family: @font-content;
  font-size: 14px;
  line-height: 16px;
  color: @grey;
  margin-top: 18px;
  margin-bottom: 33px;
}

.order-form__submit-button {
  text-transform: uppercase;
  width: 260px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .order-form {
    padding-top: 73px;
  }

  .order-form__text {
    .tab-width;
    font-size: 17px;
    line-height: 30px;
    color: @grey;
    padding-bottom: 8px;
  }

  .order-form__fieldset-wrapper {
    display: flex;
    flex-direction: row;
    .tab-width;
  }

  .order-form__title {
    width: 165px;
    position: static;
    flex-shrink: 0;
    padding: 0;

    &::before {
      content: none;
    }
  }

  .order-form__fieldset {
    padding: 65px 0 0 0;

    &--dark {
      background-color: #f1f1f1;
      width: auto;
    }

    &--name {
      padding-top: 55px;

      legend {
        margin-top: 12px;
      }
    }

    &--input1 {
      padding-top: 55px;
      padding-bottom: 0;
    }

    &--input2 {
      padding-top: 27px;
      padding-bottom: 50px;
    }

    &--textarea {
      padding-top: 54px;
      margin-bottom: 55px;
    }
  }

  .order-form__list {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .order-form__item {
    padding-left: 81px;
    margin-bottom: 57px;
  }

  .order-form__submit-block {
    .tab-width;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .order-form__notice {
    padding: 0;
    margin: 0;
    width: auto;
    margin-top: 10px;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__submit-button {
    padding: 0;
    margin: 0;
    width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .order-form {
    padding-top: 118px;
    margin-bottom: -6px;
  }

  .order-form__text {
    width: 1150px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 225px;
  }

  .order-form__fieldset {
    padding-top: 69px;
  }

  .order-form__fieldset-wrapper {
    box-sizing: border-box;
    width: 1150px;
    padding: 0 50px;
  }

  .order-form__title {
    width: 175px;
    text-align: center;
  }

  .order-form__list {
    width: 700px;
  }

  .order-form__submit-block {
    width: 700px;
    padding: 0;
  }

  .order-form__fieldset--name {
    legend {
      margin-top: 0;
    }

    .order-form__list {
      margin-top: -13px;
    }
  }

  .order-form__fieldset--input1 {
    padding-top: 53px;
  }

  .order-form__fieldset--input2 {
    padding-top: 29px;
  }

  .order-form__fieldset--textarea {
    padding-top: 54px;
    margin-bottom: 48px;
  }
}
