.page-footer {
  width: 320px;
  margin: 0 auto;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
}

.page-footer__social {
  min-height: 80px;
}

.page-footer__copyright {
  min-height: 80px;
}
