.production-block {
  width: @mobile-content-width;
  margin: 0 auto;
  margin-bottom: 58px;
}

.production-block__title {
  font-family: @font-title;
  .main-link;
  padding: 23px 0 23px 90px;
  margin: 0;
  border: 1px solid #ececec;
}

.production-block__wrapper {
  border: 1px solid #ececec;
  border-top: none;
}

.production-block__description {
  font-family: @font-content;
  font-size: 13px;
  line-height: 24px;
  color: @grey;
  margin: 0;
  padding: 27px 33px;
}

.production-block__button {
  margin: 0 33px 32px;
}

@media (min-width: @tablet-width) {
  .production-block {
    .tab-width;
    width: 668px;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
  }

  .production-block__video {
    order: -1;
    width: 668px;
    height: 455px;
  }

  .production-block__title {
    border-bottom: none;
    font-size: 20px;
    line-height: 24px;
  }

  .production-block__description {
    font-size: 15px;
    line-height: 30px;
    padding-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .production-block {
  .desk-width;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 456px;
  margin-bottom: 107px;
  }

  .production-block__wrapper {
    width: 368px;
    box-sizing: border-box;
    padding-left: 79px;
    padding-bottom: 53px;
  }

  .production-block__title {
    width: 368px;
    box-sizing: border-box;
    padding: 97px 52px 34px 79px;
  }

  .production-block__video {
    width: 682px;
  }

  .production-block__description,
  .production-block__button {
    margin: 0;
    padding: 0;
  }

  .production-block__button {
    margin-top: 46px;
    width: 231px;
  }
}
