.product {
  border: 1px solid #ededed;
}

.product__content-wrapper {
  padding: 27px 28px;
  width: 260px;
  box-sizing: border-box;
}

.product__description-wrapper {
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
}

.product__name {
  font-family: @font-title;
  font-size: 17px;
  line-height: 24px;
}

.product__description {
  font-family: @font-content;
  font-size: 13px;
  line-height: 30px;
  color: @grey;
  margin: 10px 0 0;
  padding: 0;
}

.product__line-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-family: @font-title;
  font-size: 15px;
  line-height: 24px;
  margin: 23px 0 0;
  padding: 0;
}
