.radio-block__label {
  font-family: @font-title;
  font-size: 17px;
  line-height: 18px;
}

@media (min-width: @desktop-width) {
  .radio-block {
    width: 700px;
  }

  .radio-block__label {
    font-size: 19px;
    line-height: 18px;
  }
}
