.reviews {
  width: @mobile-content-width;
  .width;
  padding-top: 15px;
  padding-bottom: 45px;
}

.reviews__title {
  font-family: @font-title;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.reviews__item {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.reviews__text {
  font-family: @font-content;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  color: @grey;
  margin-bottom: 21px;
}

.reviews__author {
  font-family: @font-title;
  font-size: 17px;
  font-style: normal;
  line-height: 30px;
}

.reviews__email {
  font-family: @font-content;
  font-size: 17px;
  font-style: normal;
  line-height: 30px;
}

.reviews__buttons-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.reviews__change-button {
  flex-grow: 1;
  width: 130px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #ececec;
}
