.reviews {
  .width;
  padding-top: 15px;
  padding-bottom: 45px;
}

.reviews__title {
  font-family: @font-title;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.reviews__item {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.reviews__text {
  font-family: @font-content;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  color: @grey;
  margin-bottom: 21px;
}

.reviews__author {
  font-family: @font-title;
  font-size: 17px;
  font-style: normal;
  line-height: 30px;
}

.reviews__email {
  font-family: @font-content;
  font-size: 17px;
  font-style: normal;
  line-height: 30px;
}

.reviews__buttons-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.reviews__change-button {
  flex-grow: 1;
  width: 130px;
  height: 52px;
  background-color: transparent;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    .tab-width;
    padding: 50px;
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 -45px;
  }

  .reviews__title {
    .tab-title;
    margin-bottom: 48px;
  }

  .reviews__text {
    font-size: 17px;
    margin-bottom: 48px;
  }

  .reviews__email {
    display: block;
  }

  .reviews__buttons-wrapper {
    position: absolute;
    right: 50px;
    bottom: 50px;
  }

  .reviews__write-us-button {
    position: absolute;
    right: 50px;
    top: 45px;
    width: 175px;
  }

  .reviews__change-button {
    width: 95px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    .desk-width;
    padding-left: 275px;
    min-height: 460px;
    padding-top: 76px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 100px 0;
  }

  .reviews__title {
    .desk-title;
    margin-bottom: 60px;
  }

  .reviews__text {
    width: 780px;
  }

  .reviews__write-us-button {
    top: 75px;
    right: 100px;
  }

  .reviews__buttons-wrapper {
    bottom: 65px;
    right: 100px;
    margin: 0;
  }
}
