.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.site-list__item {
  min-height: 79px;
  display: flex;
  border-top: 1px solid #ececec;
  padding-left: 75px;
  z-index: 1;
}

.site-list__icon {
  position: absolute;
  left: 30px;
  top: 30px;
  fill: #d3d2d2;
}

.site-list__item--cart,
.site-list__item--search {
  position: relative;
}

.site-list__link:hover + .site-list__icon {
  path {
    fill: @color-accent;
  }
}

.site-list__link {
  text-decoration: none;
  margin: auto;
  margin-left: 0;
  font-family: @font-title;
  font-size: 17px;
  line-height: 24px;
  color: black;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);

    .site-list__icon {
      path {
        fill: @color-accent;
      }
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    .site-list__icon {
      opacity: 0.3;

      path {
        fill: @color-accent;
      }
    }
  }
}

.site-list__image {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item:first-child {
  padding: 0;
  margin: auto;
  border: none;
}

.site-list__toggle {
  padding: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  display: block;
  width: 21px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.main-nav--closed .site-list__toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
  left: 0;
  top: 0;
}

.main-nav--closed .site-list__item {
  display: none;
}

.main-nav--closed .site-list__item--logo {
  display: flex;
}

.main-nav--opened .site-list__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    right: 0;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav .site-list__item--delivery,
.main-nav .site-list__item--new,
.main-nav .site-list__item--sale {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav--closed .site-list__item {
    display: flex;
  }

  .main-nav .site-list__item--delivery,
  .main-nav .site-list__item--new,
  .main-nav .site-list__item--sale {
    display: none;
  }

  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .site-list__item {
    margin: 0;
    padding: 0;
    min-height: 60px;
    border: none;
  }

  .site-list__item:first-child {
    order: 1;
    width: 320px;
  }

  .site-list__item:nth-child(2) {
    order: 4;
    width: 167px;
  }

  .site-list__item--catalog {
    .secondary-link;
  }

  .site-list__item:nth-child(3) {
    order: 5;
    width: 167px;
  }

  .site-list__item--order {
    .secondary-link;
  }

  .site-list__item:nth-child(4) {
    order: 2;

    .site-list__text {
      display: none;
    }
  }

  .site-list__item:nth-child(5) {
    order: 3;
  }

  .site-list__item:last-child {
    order: 6;
  }

  .site-list__item--search {
    width: 82px;
    height: 89px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;

    & .site-list__link {
      margin-left: auto;
    }
  }

  .site-list__icon {
    top: 35px;
  }

  .main-nav .site-list__item--delivery {
    display: flex;
    font-family: @font-content;
    .secondary-link;
    margin-left: auto;
  }

  .site-list__item--cart {
    width: 264px;
    padding-left: 82px;
    box-sizing: border-box;
  }

  .site-list__logo {
    padding-right: 210px;
  }

  .site-list__toggle {
    display: none;
  }

  .site-list__image {
    width: 113px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav .site-list__item--new,
  .main-nav .site-list__item--sale {
    display: flex;
  }

  .site-list__item:first-child {
    order: 3;
    width: auto;
    margin-right: auto;
  }

  .site-list__item:nth-child(2) {
    order: 1;
    border-right: 1px solid #ececec;
    width: auto;
    padding-right: 36px;
    .main-link;
  }

  .site-list__item:nth-child(3) {
    order: 2;
    padding-left: 36px;
    padding-right: 0;
    .main-link;
  }

  .site-list__item:nth-child(4) {
    order: 4;
  }

  .site-list__item:nth-child(5) {
    order: 5;
  }

  .site-list__item:nth-child(6) {
    order: 6;
    margin-right: 60px;

    .site-list__link {
      .secondary-link;
    }
  }

  .site-list__item:nth-child(7) {
    order: 7;

    .site-list__link {
      .secondary-link;
    }
  }

  .site-list__item:last-child {
    order: 8;
  }

  .site-list__image {
    width: 149px;
    height: auto;
  }

  .site-list__logo {
    padding: 0;
  }
}
