.stock {
  font-family: @font-title;
  background-color: #f9f9f9;
  min-height: 490px;
  border-top: 1px solid transparent;
}

.stock__content {
  .width;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 490px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.stock__title {
  margin: 75px 0 30px 0;
  padding: 0 30px 0 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.stock__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.stock__item {
  list-style: none;
  font-size: 19px;
  line-height: 24px;
  color: white;
  min-height: 103px;

  &--interior {
    background-color: @color-accent;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.stock__item a {
  display: block;
  min-height: 103px;
  box-sizing: border-box;
  padding: 27px 160px 27px 30px;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .stock {
    min-height: 746px;
  }

  .stock__content {
    .tab-width;
    min-height: 746px;
    background-size: cover;
    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }


  .stock__title {
    .tab-title;
    padding: 0;
    margin-top: 160px;
  }

  .stock__list {
    display: flex;
    bottom: 0;
    width: 668px;
    flex-direction: row;
  }

  .stock__item {
    width: 50%;
  }

  .stock__item a {
    display: block;
    min-height: 119px;
    box-sizing: border-box;
    padding: 30px 167px 27px 35px;
  }
}

@media (min-width: @desktop-width) {
  .stock {
    width: 100%;
    padding: 0;
    background-color: #f9f9f9;
  }

  .stock__content {
    .desk-width;
    height: 746px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .stock__title {
    padding: 0;
    margin: 0;
    margin-top: 165px;
    .desk-title;
  }

  .stock__list {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
