.stock {
  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% -14%;
  min-height: 489px;
  width: 320px;
  font-family: @font-title;
  margin: 0 auto;
}

.stock__title {
  margin: 0;
  padding: 61px 30px 132px 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.stock__list {
  margin: 0;
  padding: 0;
}

.stock__item {
  list-style: none;
  font-size: 19px;
  line-height: 24px;
  color: white;
  min-height: 103px;
  padding-left: 30px;
  padding-right: 30px;

  &--interior {
    background-color: @color-accent;
  }

  &--toys {
    background-color: #56c3b2;
  }
}
