.top-product {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  &__wrapper {
    margin-top: 31px;
    margin-bottom: 28px;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-family: "OpenSans-bold", "Arial", sans-serif;
    font-size: 25px;
    line-height: 30px;
  }

  &__label {
    font-family: "OpenSans-bold", "Arial", sans-serif;
    font-size: 17px;
    line-height: 20px;
    color: #63d1bb;
    text-transform: uppercase;
  }

  &__description {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
    margin-bottom: 27px;
  }

  &__options {
    width: 260px;
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #444444;
    border-collapse: collapse;
    margin-bottom: 28px;
  }

  &__table-row {
    height: 40px;
    display: block;
    border-bottom: 1px solid #ececec;
  }

  &__parameter {
    width: 97px;
  }

  &__value {

  }

  &__image {
    margin-bottom: 25px;
  }

  &__price {
    margin: 0;
    padding: 0;
    font-family: "OpenSans-bold", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #444444;
    text-align: center;
    margin-bottom: 28px;
  }

  &__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 78px;
    text-align: center;
  }
}
